---
import Container from '@share_components/Container.astro'
import CartArticle from '@components/home/CartArticle.astro'
---

<Container styles='py-10 grid gap-10'>
  <h2
    class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
  >
    Artículos
  </h2>

  <section class='grid grid-cols-1 gap-5 md:grid-cols-2'>
    <CartArticle />
    <CartArticle />
    <CartArticle />
    <CartArticle />
    <CartArticle />
  </section>
</Container>
