---
import Container from '@share_components/Container.astro'
import { getHomeHero } from '@lib/api/get-home-hero'

const { title_hero, text_hero, image_hero } = await getHomeHero()
---

<Container styles='h-[54.9vh] flex py-10'>
  <div
    class='grid grid-cols-3 gap-2 sm:gap-10 h-full border-[1px] rounded-sm border-theme-decoration'
  >
    <section
      class='grid place-content-center col-span-2 md:col-span-1 pl-4 sm:pl-8'
    >
      <h2
        class='text-xl sm:text-2xl md:text-3xl text-theme-title lg:text-4xl font-bold uppercase mb-2'
      >
        {title_hero}
      </h2>
      <p class='text-theme-text text-base lg:text-lg line-clamp-8'>
        {text_hero}
      </p>
    </section>

    <section
      class='col-span-1 md:col-span-2 overflow-hidden bg-right bg-no-repeat bg-cover'
      style={`background-image: url('${image_hero}')`}
    >
    </section>
  </div>
</Container>
