---
import Container from '@share_components/Container.astro'
---

<Container styles='py-10 grid gap-10'>
  <h2
    class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
  >
    Eventos
  </h2>

  <div class='grid gap-5'>
    <section class='flex flex-wrap gap-5'>
      <button
        class='text-base bg-theme-decoration/10 py-2 px-6 border-1 border-theme-decoration'
      >
        Todos</button
      >
    </section>

    <section class='grid grid-cols-1 gap-5 md:grid-cols-2'>hola</section>
  </div>
</Container>
