---
import Container from '@share_components/Container.astro'

import Arrow from '@assets/icons/arrow.svg'
---

<Container styles='py-10 grid gap-5'>
  <h2
    class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
  >
    Proyectos
  </h2>

  <div class='grid gap-10'>hoa</div>
</Container>
