---
import Container from '@share_components/Container.astro'

import SliderProjects from '@components/home/SliderProjects.astro'
import CartProject from '@components/home/CartProject.astro'

import { getHomeProjects } from '@lib/api/get-home-projects'

let projects = []
let fetchError = false

try {
  projects = await getHomeProjects()
} catch (error) {
  console.error('Error al obtener los proyectos:', error)
  fetchError = true
}
---

<Container styles='py-10 grid gap-10'>
  <h2
    class='text-theme-title mb-2 text-center text-2xl font-bold uppercase sm:text-4xl'
  >
    Proyectos
  </h2>

  <section class='overflow-hidden'>
    {
      fetchError ? (
        <div class='text-center text-red-600'>
          <p class='text-lg font-medium'>
            No se pudieron cargar los proyectos. Intenta más tarde.
          </p>
        </div>
      ) : (
        <SliderProjects>
          {projects.map((project: any) => (
            <CartProject {...project} />
          ))}
        </SliderProjects>
      )
    }
  </section>
</Container>
