---
import Container from '@share_components/Container.astro'

import SliderProjects from '@components/home/SliderProjects.astro'

import CartProject from '@components/home/CartProject.astro'

import { getHomeProjects } from '@lib/api/get-home-projects'

const projects = await getHomeProjects()
---

<Container styles='py-10 grid gap-10'>
  <h2
    class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
  >
    Proyectos
  </h2>

  <section class='overflow-hidden'>
    <SliderProjects>
      {projects.map((project: any) => <CartProject {...project} />)}
    </SliderProjects>
  </section>
</Container>
