---
import Container from '@share_components/Container.astro'
import CartArticle from '@components/home/CartArticle.astro'
import Layout from '@layouts/Layout.astro'
import Split from '@share_components/Split.astro'

import Row from '@assets/icons/row.svg'
import Grid from '@assets/icons/grid.svg'

import { getHomeArticleCard } from '@lib/api/get-home-article-card'
import { parseArticles } from '@lib/parseArticles'

const articles: any[] = await getHomeArticleCard()

const isYear = new Date().getFullYear()

const newArticles = parseArticles(articles)
---

<Layout title='Artículos'>
  <Split />
  <Container styles='py-10 grid gap-10'>
    <h2
      class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
    >
      Artículos
    </h2>

    <div class='grid gap-10'>
      <section class='flex gap-4 justify-between items-center flex-wrap'>
        <div class='flex-wrap gap-4 text-theme-text'>
          <button
            class='text-sm bg-theme-decoration/10 py-1 px-4 border-1 border-theme-decoration cursor-pointer'
            data-year='all'
          >
            Todos
          </button>
          <button
            class='text-sm py-1 px-4 border-1 border-theme-decoration cursor-pointer'
            data-year='2025'
          >
            2025
          </button>
          <button
            class='text-sm py-1 px-4 border-1 border-theme-decoration cursor-pointer'
            data-year='2024'
          >
            2024
          </button>
          <button
            class='text-sm py-1 px-4 border-1 border-theme-decoration cursor-pointer'
            data-year='2023'
          >
            2023
          </button>
        </div>

        <div>
          <button
            id='btn-toggle-view-articles'
            class='grid place-content-center size-7 text-theme-text cursor-pointer'
            data-state='time-line'
          >
            <Grid class='w-full h-full to-years' />
            <Row class='w-full h-full time-line' />
          </button>
        </div>
      </section>

      <section class='to-years grid grid-cols-1 gap-5 md:grid-cols-2'>
        {
          newArticles.map(({ articles }) =>
            articles.map((article: any) => <CartArticle {...article} />)
          )
        }
      </section>

      <section class='time-line pl-4 border-l-2 border-theme-split grid gap-4'>
        {
          newArticles.map(({ year, articles }) => (
            <div class='flex flex-col gap-2'>
              <header class='relative'>
                <span class='text-sm text-theme-title'>
                  {isYear.toString() === year ? 'Ahora' : year}
                </span>
                <div class='size-3 bg-theme-decoration rounded-full absolute -left-[23px] top-[7px]' />
              </header>

              <section class='grid grid-cols-1 gap-5 md:grid-cols-2'>
                {articles.map((article: any) => (
                  <CartArticle {...article} />
                ))}
              </section>
            </div>
          ))
        }
      </section>
    </div>
  </Container>
</Layout> Seleccionar si quiero ver los artículos por años o por linea de tiempo
<script is:inline>
  const btnToggleViewArticles = document.querySelector(
    '#btn-toggle-view-articles'
  )

  const toYears = document.querySelectorAll('.to-years')
  const timeLine = document.querySelectorAll('.time-line')

  if (btnToggleViewArticles.dataset.state === 'to-years') {
    handleTimeLine()
  } else {
    handleToYear()
  }

  btnToggleViewArticles.addEventListener('click', e => {
    const type = e.currentTarget.dataset.state

    if (type === 'to-years') {
      handleToYear()
    } else {
      handleTimeLine()
    }

    const newType = type === 'to-years' ? 'time-line' : 'to-years'

    btnToggleViewArticles.setAttribute('data-state', newType)
  })

  function handleToYear() {
    toYears.forEach(el => el.classList.remove('hidden'))
    timeLine.forEach(el => el.classList.add('hidden'))
  }

  function handleTimeLine() {
    toYears.forEach(el => el.classList.add('hidden'))
    timeLine.forEach(el => el.classList.remove('hidden'))
  }
</script> Filtrar los artículos por años seleccionados <script is:inline>
  const $ = el => document.querySelector(el)
  const $$ = el => document.querySelectorAll(el)
</script>
