---
import Logo_pixel from '@assets/icons/logo_pixel.svg'

import { getAboutUsInfo } from '@lib/api/get-about-us-info'

let title_about_us = 'Error al cargar'
let description_about_us =
  'No se pudo obtener la información. Por favor, intenta más tarde.'
let fetchError = false

try {
  const data = await getAboutUsInfo()
  title_about_us = data.title_about_us
  description_about_us = data.description_about_us
} catch (error) {
  fetchError = true
}
---

<div class='grid gap-4 py-10 md:grid-cols-3'>
  <section class='col-span-2 flex flex-col'>
    <h2 class='text-theme-title mb-2 text-2xl font-bold uppercase sm:text-4xl'>
      {title_about_us}
    </h2>

    {
      fetchError ? (
        <p class='text-base text-red-600'>
          No se pudieron cargar los datos. Intenta nuevamente más tarde.
        </p>
      ) : (
        <p class='text-theme-text text-xs sm:text-sm md:text-base'>
          {description_about_us}
        </p>
      )
    }
  </section>

  <section class='text-theme-split hidden place-content-center md:grid'>
    <Logo_pixel
      class='size-[40px] rotate-12 sm:size-[60px] md:size-[120px] lg:size-[150px]'
    />
  </section>
</div>
