---
import Logo_pixel from '@assets/icons/logo_pixel.svg'

import { getAboutUsInfo } from '@lib/api/get-about-us-info'

const { title_about_us, text_about_us } = await getAboutUsInfo()
---

<div class='grid md:grid-cols-3 gap-4 py-10'>
  <section class='col-span-2 flex flex-col'>
    <h2 class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2'>
      {title_about_us}
    </h2>

    <p class='text-theme-text text-xs sm:text-sm md:text-base'>
      {text_about_us}
    </p>
  </section>

  <section class='place-content-center text-theme-split hidden md:grid'>
    <Logo_pixel
      class='size-[40px] sm:size-[60px] md:size-[120px] lg:size-[150px] rotate-12'
    />
  </section>
</div>
