---
import ImageJohan from '@assets/members/johan.jpg'
import ImageMateo from '@assets/members/mateo.jpg'
import ImageJuan from '@assets/members/juan.jpg'
import ImageMiguel from '@assets/members/miguel.jpg'
import ImageMartha from '@assets/members/martha.jpg'

import GitHub from '@assets/icons/github.svg'
import X from '@assets/icons/x.svg'
import CartMembers from '@components/about-us/CartMembers.astro'
import Container from '@share_components/Container.astro'

const MEMBERS = [
  {
    image: '../../assets/members/johan.jpg',
    name: 'Johan Manuel Alvarez Pinta',
    orcid: 'https://orcid.org/0000-0002-3456-7890',
    rol: 'Estudiante',
    career: 'Ingeniería Informática',
    state: true,
    date_init: '2022 - 1',
    date_end: '',
    social_media: [
      {
        name: 'Github',
        link: '#',
        icon: GitHub,
      },
      {
        name: 'X',
        link: '#',
        icon: X,
      },
    ],
  },
  {
    image: '../../assets/members/juan.jpg',
    name: 'Juan Manuel Quijano Quijano',
    orcid: 'https://orcid.org/0000-0002-3456-7890',
    rol: 'Egresado',
    career: 'Ingeniería Informática',
    state: false,
    date_init: '2022 - 1',
    date_end: '2026 - 1',
    social_media: [
      {
        name: 'Github',
        link: '#',
        icon: GitHub,
      },
      {
        name: 'X',
        link: '#',
        icon: X,
      },
    ],
  },
  // {
  //   image: ImageMateo,
  //   name: 'Mateo Jesus Cadena Cabrera ',
  //   orcid: 'https://orcid.org/0000-0002-3456-7890',
  //   rol: 'Estudiante',
  //   career: 'Ingeniería Informática',
  //   state: true,
  //   date_init: '2022 - 1',
  //   date_end: '',
  //   social_media: [
  //     {
  //       name: 'Github',
  //       link: '#',
  //       icon: GitHub,
  //     },
  //     {
  //       name: 'X',
  //       link: '#',
  //       icon: X,
  //     },
  //   ],
  // },
  // {
  //   image: ImageMiguel,
  //   name: 'Miguel Manuel Alvarez Pinta',
  //   orcid: 'https://orcid.org/0000-0002-3456-7890',
  //   rol: 'Estudiante',
  //   career: 'Ingeniería Informática',
  //   state: true,
  //   date_init: '2022 - 1',
  //   date_end: '',
  //   social_media: [
  //     {
  //       name: 'Github',
  //       link: '#',
  //       icon: GitHub,
  //     },
  //     {
  //       name: 'X',
  //       link: '#',
  //       icon: X,
  //     },
  //   ],
  // },
  // {
  //   image: ImageJuan,
  //   name: 'Juan Diego ',
  //   orcid: 'https://orcid.org/0000-0002-3456-7890',
  //   rol: 'Estudiante',
  //   career: 'Ingeniería Informática',
  //   state: true,
  //   date_init: '2022 - 1',
  //   date_end: '',
  //   social_media: [
  //     {
  //       name: 'Github',
  //       link: '#',
  //       icon: GitHub,
  //     },
  //     {
  //       name: 'X',
  //       link: '#',
  //       icon: X,
  //     },
  //   ],
  // },
  // {
  //   image: ImageMartha,
  //   name: 'Martha Cecilia Camacho',
  //   orcid: 'https://orcid.org/0000-0002-3456-7890',
  //   rol: 'Docente',
  //   career: 'Ingeniería Informática',
  //   state: true,
  //   date_init: '2022 - 1',
  //   date_end: '',
  //   social_media: [
  //     {
  //       name: 'Github',
  //       link: '#',
  //       icon: GitHub,
  //     },
  //     {
  //       name: 'X',
  //       link: '#',
  //       icon: X,
  //     },
  //   ],
  // },
]
---

<section>
  <Container>
    <h2
      class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
    >
      Integrantes
    </h2>
  </Container>

  <!-- Miembros Activos -->
  <Container>
    <div
      class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-5 pb-10'
    >
      {
        MEMBERS.filter(({ state }) => state === true).map(member => (
          <CartMembers {...member} />
        ))
      }
    </div>
  </Container>

  <div class='grid place-content-center border-y-1 border-theme-split'>
    <h2 class='text-theme-text text-2xl font-semibold uppercase py-4'>
      Graduados
    </h2>
  </div>

  <!-- Miembros Graduados -->
  <Container>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-10'>
      {
        MEMBERS.filter(({ state }) => state !== true).map(member => (
          <CartMembers {...member} />
        ))
      }
    </div>
  </Container>
</section>
