---
import CartMembers from '@components/about-us/CartMembers.astro'
import Container from '@share_components/Container.astro'

import { getAboutUsMembers } from '@lib/api/get-about-us-members'

const MEMBERS = await getAboutUsMembers()
---

<section>
  <Container>
    <h2
      class='text-theme-title text-2xl sm:text-4xl font-bold uppercase mb-2 text-center'
    >
      Integrantes
    </h2>
  </Container>

  <!-- Miembros Activos -->
  <Container>
    <div
      class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-5 pb-10'
    >
      {
        MEMBERS.filter(({ state }: { state: boolean }) => state === true).map(
          (member: any) => <CartMembers {...member} />
        )
      }
    </div>
  </Container>

  <div class='grid place-content-center border-y-1 border-theme-split'>
    <h2 class='text-theme-text text-2xl font-semibold uppercase py-4'>
      Graduados
    </h2>
  </div>

  <!-- Miembros Graduados -->
  <Container>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-10'>
      {
        MEMBERS.filter(({ state }: { state: boolean }) => state !== true).map(
          (member: any) => <CartMembers {...member} />
        )
      }
    </div>
  </Container>
</section>
