---
import Logo_pixel from '@assets/icons/logo_pixel.svg'
import Split from './Split.astro'

import { SOCIALS_MEDIA } from '@share_components/Header.astro'
---

<footer class='flex flex-col gap-6 pb-6'>
  <section class='relative flex items-center justify-center gap-4'>
    {
      SOCIALS_MEDIA.map(({ link, icon: Icon }) => (
        <a
          href={link}
          class='text-theme-icon bg-theme-background border-theme-split z-10 flex items-center gap-2 rounded-full border-4 p-2'
        >
          <Icon class='' />
        </a>
      ))
    }

    <Split styles='w-full absolute left-0 right-0' />
  </section>

  <section class='grid place-content-center'>
    <div class='text-theme-title flex h-full items-center gap-4'>
      <Logo_pixel class='size-[40px]' />

      <a href='/' class='font-micro5 text-4xl uppercase'>
        Semillero <span class='text-theme-decoration'>Pixel</span>
      </a>
    </div>
  </section>

  <section class='grid place-content-center'>
    <a
      href='https://johan-alvarez.vercel.app/'
      class='text-theme-text animate-pulse text-center text-sm'
    >
      Blog desarrollado por <span class='text-theme-decoration'
        >Johan Alvarez</span
      >
    </a>
  </section>
</footer>
