---
const { pathname } = Astro.url

import Facebook from '@assets/icons/facebook.svg'
import X from '@assets/icons/x.svg'
import Instagram from '@assets/icons/instagram.svg'
import Github from '@assets/icons/github.svg'
import Sun from '@assets/icons/sun.svg'
import Logo_pixel from '@assets/icons/logo_pixel.svg'

import Container from '@share_components/Container.astro'
import Split from '@share_components/Split.astro'

export const SOCIALS_MEDIA = [
  {
    name: 'Facebook',
    icon: Facebook,
    link: '#',
  },
  {
    name: 'Instagram',
    icon: Instagram,
    link: '#',
  },
  {
    name: 'X',
    icon: X,
    link: '#',
  },
  {
    name: 'Github',
    icon: Github,
    link: '#',
  },
]

const LINKS = [
  {
    name: 'Inicio',
    link: '/',
  },
  {
    name: 'Proyectos',
    link: '#',
  },
  {
    name: 'Artículos',
    link: '/articles',
  },
  {
    name: 'Publicaciones',
    link: '#',
  },
  {
    name: 'Eventos',
    link: '#',
  },
  {
    name: 'Sobre Nosotros',
    link: '/about-us',
  },
]
---

<header class='h-[45vh] overflow-hidden w-full flex flex-col'>
  <Container styles='h-20 flex items-center justify-between'>
    <div class='flex gap-5'>
      {
        SOCIALS_MEDIA.map(({ link, icon: Icon }) => (
          <a href={link} class='flex items-center gap-2'>
            <Icon class='' />
          </a>
        ))
      }
    </div>

    <nav>
      <ul class='gap-5 text-sm items-center font-medium hidden md:flex'>
        {
          LINKS.map(({ name, link }) => (
            <li>
              <a
                href={link}
                class={
                  pathname === link
                    ? 'text-theme-decoration'
                    : 'text-theme-text'
                }
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div>
      <Sun />
    </div>
  </Container>

  <Split />

  <section class='grid place-content-center h-full'>
    <div
      class='flex gap-4 sm:gap-6 md:gap-10 items-center h-full text-theme-title'
    >
      <Logo_pixel
        class='size-[40px] sm:size-[60px] md:size-[80px] lg:size-[100px]'
      />

      <a href='/'>
        <h1
          class='uppercase font-micro5 text-5xl sm:text-7xl md:text-8xl lg:text-9xl'
        >
          Semillero <span class='text-theme-decoration'>Pixel</span>
        </h1>
      </a>
    </div>
  </section>
</header>
